*
{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

:focus
{
  outline:crimson solid 1px;
  background-color: LightCoral;
  color: DarkRed;
}

html, body
{
  height: 100%;
}


html
{
  width: 100%;
  background-color: rgba(25, 0, 0, 1);
  color: LightPink;
  font-family: Verdana, sans-serif;
  text-align: center;
  padding: 0;
}

body
{
  width: 80%;
  max-width: 700px;
  background-color: Crimson;
  margin: 0 auto;
}

ul
{
  padding: 0;
  margin: 0;
  list-style: none;
}

li
{
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em 0;
  margin: 0 -0.1em;
  width: 20%;
}

nav, footer
{
  background-color: DarkRed;
}

section
{
  min-height: 100px;
  padding: 0.5em 0;
}

a
{
  color: Pink;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  border-radius: 0.1em;
  border: solid 1px crimson;
  border-bottom: 0.3em solid crimson;
  width: 100%;
}

p
{
  padding: 0.5em;
  padding-top: 0.1em;
}

h1
{
  color: white;
}

nav h1
{
  font-size: 1.8em;
  padding: 0.2em 0;
  color: MistyRose;
}

footer p 
{
  background-color: rgba(80, 0, 0, 0.5);
  color: crimson;
}

iframe{

  padding: 0.2em 0;
  width: 90%;
  height: 400px;
}

a:hover
{
  background-color: crimson;
}

/*Sticky footer*/

.wrapper 
{
	  min-height: 100%;
	  height: auto !important;
	  height: 100%;
	  margin: 0 auto -5em;
}

footer, .push
{
  height: 5em;
}


/*Fin de sticky footer*/

@media screen and (max-width: 680px)
{
  li
  {
    width: 40%;    
    padding: 0 0 0.2em;
  }
  
  a
  {
    margin: 0;
  }